* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-align: center;
  background: linear-gradient(90deg, red, blue);
}

body {
  position: relative;
  height: 100vh;
  width: 100vw;
}

div#game-board {
  position: absolute;
  padding: 40px;
  opacity: 0.6;
  height: 820px;
  width: 1080px;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
  border-radius: 10%;
  border: 1px solid white;
}

div#game-board:hover {
  opacity: 1;
  border: 3px solid white;
  cursor: pointer;
  height: 820px;
  width: 1150px;
  border-radius: 10%;
}

h1#gametitle {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 50px;
  color: white;
  margin-top: 175px;
  margin-bottom: 50px;
}

h3#h3question {
  margin-bottom: 35px;
  font-size: 28px;
  color: white;
}

button.answer-btn {
  padding: 10px;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  font-size: 20px;
  letter-spacing: 3px;
  cursor: pointer;
  margin-bottom: 40px;
  transition: 0.4s;
  margin-right: 15px;
}

button.answer-btn:hover {
  background: white;
  color: black;
}

h2#correct-answers {
  color: white;
  font-size: 25px;
  letter-spacing: 2px;
}

h1.congratulationsmessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  padding: 40px;
  border: 3px solid white;
}

h1.playagainmessage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: uppercase;
  letter-spacing: 3px;
  color: white;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 50px;
  padding-right: 50px;
  border: 3px solid white;
}

button.playagainbutton {
  position: absolute;
  top: 63.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border: 2px solid white;
  text-transform: uppercase;
  color: white;
  font-size: 25px;
  letter-spacing: 3px;
  cursor: pointer;
}

button.playagainbutton:hover {
  background: white;
  color: black;
}

div#lifelines {
  position: absolute;
  top: 25%;
  left: 8%;
  height: 500px;
  width: 300px;
  border: 1px solid white;
  border-radius: 10%;
  opacity: 0.6;
  transition: 0.2s;
  padding: 55px;
}

div#lifelines:hover {
  opacity: 1;
  cursor: pointer;
  border: 3px solid white;
}

h1#h1lifelines {
  position: absolute;
  top: 5%;
  left: 13%;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
}

button#fiftyfifty {
  margin-top: 60px;
  margin-bottom: 40px;
  text-transform: uppercase;
  padding: 13px;
  font-size: 25px;
  color: white;
  border: 2px solid white;
  transition: 0.4s;
}
button#fiftyfifty:hover {
  background: white;
  color: black;
  cursor: pointer;
}
button#friendcall {
  text-transform: uppercase;
  padding: 13px;
  font-size: 25px;
  color: white;
  border: 2px solid white;
}
button#friendcall:hover {
  background: white;
  color: black;
  cursor: pointer;
}

button#audiencehelp {
  text-transform: uppercase;
  padding: 13px;
  font-size: 25px;
  color: white;
  margin-top: 40px;
  border: 2px solid white;
}
button#audiencehelp:hover {
  background: white;
  color: black;
  cursor: pointer;
}
